body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hide {
  display: none;
}

.loader_img {
  position: absolute;
  z-index: 9999;
  /* background : url('https://dribbble.com/shots/6321168-cat') 50% 50% no-repeat; */
  cursor : wait;
  display: block;
	left: 50%;
  top: 50%;
	height: 30%;
	-webkit-transform: translate( -50%, -50% );
	transform: translate( -50%, -50% );
}

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	overflow: hidden;
	background: rgba( 255, 255, 255, 0.5 );
}

